<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuan.e05_listview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.yuan.e06_gridview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.yuan.e06_gridview.ImageViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.ListView.ListViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.GridView.GridViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.RecycleView.RecycleViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.RecycleView.LinearRecycleViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.RecycleView.HorLinearRecyclerViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.RecycleView.GridRecyclerViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.RecycleView.WaterfallRecyclerViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.WebView.WebViewActivity" />
        <activity android:name="com.example.yuan.e06_gridview.Toast.ToastActivity" />
        <activity android:name="com.example.yuan.e06_gridview.Alertdialog.DiaglogActivity" />
    </application>

</manifest>